body
{
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  text-align: center;
  background-color: gray;
}

h1
{
	font-size: 32px;
}
